<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WxServlet</servlet-name>
    <servlet-class>com.pache.weixin.servlet.WxServlet</servlet-class>
  </servlet>

    <servlet-mapping>
    <servlet-name>WxServlet</servlet-name>
    <url-pattern>/wx</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetTicketServlet</servlet-name>
    <servlet-class>com.pache.weixin.servlet.GetTicketServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GetTicketServlet</servlet-name>
    <url-pattern>/TicketServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetUserInfoServlet</servlet-name>
    <servlet-class>com.pache.weixin.servlet.GetUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserInfoServlet</servlet-name>
    <url-pattern>/GetUserInfoServlet</url-pattern>
  </servlet-mapping>


  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
